[Unit]
Description=Automatic Mender Commit Service
After=mender-client.service 

[Service]
ExecStart=/etc/mender/mender-client-commit.sh
Type=oneshot
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
